<!-- <div class="container pt-4" >
<div style="display: block" *ngIf='signalRChartService.data'>
  <canvas baseChart
          [datasets]="signalRChartService.data"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [chartType]="chartType"
          [colors]="colors"
          (chartClick)="chartClicked($event)"></canvas>
</div>
</div> -->
<div class="row">
  <div class="col-md-6">
    <div style="display: block;" class="chart" *ngIf='signalRChartService.data'>
      <canvas baseChart width="40" height="40"

              [datasets]="signalRChartService.data.yData"
              [labels]="signalRChartService.data.xData"
              [options]="lineChartOptions"
              [colors]="lineChartColors"

              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>

