<div class="container">
  <div class="pt-3">
      <p class="h2">What is SignalR ?</p>
     <p>Provides Real-time web functionality which enables server-side code to push content to clients instantly.</p>
      <p class="h5">Hubs</p>
     <p>SignalR uses hubs to communicate between clients and servers.
       A hub is a high-level pipeline that allows a client and server to call methods on each other.
       SignalR handles the dispatching across machine boundaries automatically, allowing clients to call methods on the server and vice versa.
      </p>
      <p class="h5">Transports</p>
      <p>SignalR supports the following techniques for handling real time communications</p>
      <ul>
        <li>
            Web Sockets
        </li>
        <li>
            Server-Sent Events
        </li>
        <li>
            Long Polling
        </li>
      </ul>
      <p class="h5">Web sockets</p>
      <p> The WebSocket protocol enables two-way real-time communication
          between clients and servers in web-based applications...see RFC 7118</p>
      <p class="h5">Server-Sent Events</p>
      <p> A server-sent event is when a web page automatically gets updates from a server.</p>
      <p class="h5">Long Polling</p>
      <p> Web applications were originally developed around a client/server model,
        where the Web client is always the initiator of transactions, requesting data from the server.
        Thus, there was no mechanism for the server to independently send, or push, data to the client without the client first making a request.
        The client polls the server requesting new information.  The server holds the request open until new data is available. Once available, the server responds and sends the new information.
      </p>
  </div>
</div>
