<ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" class="nav-item" [ngClass]="{'active': currentRoom==tab.heading}" (click)="OnRoomChange(tab.heading)"><a class="nav-link" data-toggle="tab">{{tab.heading}}</a></li>
</ul>
<div class="container pt-5" >
  <div>
  <div *ngFor="let tab of tabs" id="home">
      <div *ngIf="currentRoom==tab.heading">
      <h3>{{tab.title}}</h3>
        <div class="row" *ngFor="let msg of tab.messageHistory">
          <div class="col-md-6" >
          {{msg.message}}
        </div>
        </div>
    </div>
    </div>
</div>
  <div class="row pt-2">
    <div class="col-md-6">
      <input type="text" id="message" [(ngModel)]="chatMessage.message" name="message" class="form-control"/>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="sendMessage()">
        Send Message
      </button>
    </div>
  </div>
</div>
